*{
    margin: 0px;
    padding: 0px;
}
#main{
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}
#big{
    background-color: rgb(178, 169, 186);
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#left{
    background-color: rgba(255, 255, 255, 0.251);
    height: 20vw;
    width: 31vw;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#middle{
    background-color: rgba(255, 255, 255, 0.251);
    height: 20vw;
    width: 45vw;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#right{
    background-color: rgba(255, 255, 255, 0.251);
    height: 20vw;
    width: 15vw;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.div0{
    display: flex;
    justify-content: space-around;   
}
.div1{
    height: 50px;
    width: 150px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
#oprations{
    background-color: rgb(241, 241, 241);
    height: 100px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 34px;
}
#flex0{
    display: flex;
    justify-content: space-evenly;
}
#para{
    font-size: 60px;
    font-weight: 900;
    box-shadow: 0px 0px 10px black;
    width: 550px;
    height:80px;
    position: relative;
    top: -110px;
    left: 450px;
    border-radius: 30px;
    display: flex;
    justify-content: center;

}